<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Project Name
  </title>


  <!-- Styles -->
  <link rel="stylesheet" href="stylesheets/web.css">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,700|Lato:300,400,700,900" rel="stylesheet">

  <!-- Fontawesome Icon fotns -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/fa-brands.min.css">
  <link rel="stylesheet" href="css/fa-light.min.css">
  <link rel="stylesheet" href="css/fa-solid.min.css">


  <!-- jQuery-->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>



</head>
<body>

  <!-- Start Header -->
  <header>
    <div class="wrap">
      <div class="logo">
        <img src="./images/heroshot.png" alt="Logo" height="55px">
      </div>
      <div class="nav">
        <div class="nav-items">
          <div class="Home">
            <a href="index.html">Home</a>
          </div>
          <div class="about">
            <a href="about.html"> About</a>
          </div>
          <div class="contact">
            <a href="contact.html"> Contact</a>
          </div>
          <div class="gallery">
            <a href="gallery.html">Gallery</a>
          </div>
          <div class="casestudy">
            <a href="casestudy.html">Case Study</a>
          </div>
        </div>
      </div>
    </div>
</header>
<main>
  <div class="midsection-wrap">
    <div class="container">
      <div class="about">

        <div class="selfie">
          <img src="./images/MeNew.jpg" style="width: 150px; height:200px;">
        </div>

        <div class="aboutme">
          <h3> About Me </h3>
          <p> Hello All!
          </br> My name is Keith Sechrist, and I am a graduate student at Clemson University.
          My area of interests are Usability and Information design, but I have a background in technical writing and quality control. In my classes, I spend a large amount of time doing research and learning design that I hope to implement one day as a future career in UX. I will be graduating in December 2018, so look out world. For now, I will continue as a graduate student.

          I was born and raised in South Carolina, and I did my undergraduate at Clemson University back in 2014.
          I grew up in the country, and I love any outdoors sports. I am attempting to play golf, and I like to go mountain biking.

          KBS Productions is my own design logo that I use with many of my works. I chose this design because my
          name does not allow for ornate uses of my initials. Instead, each animal represents a letter and has
          a quirk. The kangaroo is fighting because I have tenacity. The bat needs glasses because even in the
          dark, we all need helping seeing the light. The snake has buck teeth because he may look dangerous, but he is a just a fun loving creature at heart. So, yeah.

          If you have any questions, please follow me on one of my social media pages and/or contact me using
          the form found here. Here is my <a href="./images/Resume.pdf"> resume </a>
          if you have anymore questions.
        </p>
      </div>
    </div>

    <div class="social media">
      <div class="behance">
        <a href="https://www.behance.net/ksechric437"> <img src="./images/behance.png" style="width: 100px; height:100px;" align= "middle";>
        </a>
      </div>
      <div class="youtube">
        <a href="https://www.youtube.com/channel/UCbfwi1uecQ3aUBELMYP1a5g"> <img src="./images/youtube.png" style="width: 100px; height:100px;" align= "middle";>
        </a>
      </div>
      <div class="linkedin">
        <a href="https://www.linkedin.com/in/keith-sechrist-95013436/"> <img src="./images/linkedin.png" style="width: 100px; height:100px;" align= "middle";>
        </a>
      </div>
      <div class="facebook">
        <a href="https://www.facebook.com/keith.sechrist"> <img src="./images/facebook.png" style="width: 100px; height:100px;" align= "middle";>
        </a>
      </div>
      <div class= "isntagram">
        <a href="https://www.instagram.com/keithbsechrist/"> <img src="./images/instagram.png" style="width: 100px; height:100px;" align= "middle";>
        </a>
      </div>
    </div>
  </div>
</div>

</main>
<footer>
  <div class="footnote">
    <div class=" logo"
    style="text-align:center;"
    <font-color=ffffff> KBS Productions are housed under the copyright of Keith Sechrist</font>
  </div>
</div>

</footer> <!-- end footer -->


<!-- Js -->
<script src="js/modernizr.js"></script>


</body>
</html>
