<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Project Name
    </title>


    <!-- Styles -->
    <link rel="stylesheet" href="stylesheets/web.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,700|Lato:300,400,700,900" rel="stylesheet">

    <!-- Fontawesome Icon fotns -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/fa-brands.min.css">
    <link rel="stylesheet" href="css/fa-light.min.css">
    <link rel="stylesheet" href="css/fa-solid.min.css">


    <!-- jQuery-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>



</head>
<body>
<i class="fal fa-home"></i>
<!-- Start Header -->
<header>

</header>

<footer>

</footer> <!-- end footer -->


<!-- Js -->
<script src="js/modernizr.js"></script>


</body>
</html>
