<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Project Name
  </title>


  <!-- Styles -->
  <link rel="stylesheet" href="stylesheets/web.css">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,700|Lato:300,400,700,900" rel="stylesheet">

  <!-- Fontawesome Icon fotns -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/fa-brands.min.css">
  <link rel="stylesheet" href="css/fa-light.min.css">
  <link rel="stylesheet" href="css/fa-solid.min.css">


  <!-- jQuery-->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>



</head>
<body>

  <!-- Start Header -->
  <header>
    <div class="wrap">
      <div class="logo">
          <img src="./images/heroshot.png" alt="Logo" height="55px">
      </div>
      <div class="nav">
        <div class="nav-items">
          <div class="Home">
            <a href="index.html">Home</a>
          </div>
          <div class="about">
            <a href="about.html"> About</a>
          </div>
          <div class="contact">
            <a href="contact.html"> Contact</a>
          </div>
          <div class="Gallery">
            <a href="gallery.html">Gallery</a>
          </div>
          <div class="casestudy">
            <a href="casestudy.html">Case Study</a>
          </div>
        </div>
      </div>
    </div>

  <!-- <aside>
    <div class="aside">
      <div class="menu">
      </div>
    </div>
  </aside> -->
</header>
  <main>
    <div class="midsection-wrap">
      <div class="container">

  </div>
</div>
<div class="social media">
    <div class="behance">
    <a href="https://www.behance.net/ksechric437"> <img src="./images/behance.png" align= "middle";>
          </a>
    </div>
    <div class="youtube">
      <a href="https://www.youtube.com/channel/UCbfwi1uecQ3aUBELMYP1a5g"> <img src="./images/youtube.png" align= "middle";>
            </a>
    </div>
    <div class="linkedin">
      <a href="https://www.linkedin.com/in/keith-sechrist-95013436/"> <img src="./images/linkedin.png" align= "middle";>
            </a>
    </div>
    <div class="facebook">
      <a href="https://www.facebook.com/keith.sechrist"> <img src="./images/facebook.png" align= "middle";>
            </a>
    </div>
    <div class= "isntagram">
      <a href="https://www.instagram.com/keithbsechrist/"> <img src="./images/instagram.png" align= "middle";>
            </a>
    </div>

</div>
  </main>
<footer>
  <div class="footnote">
    <div class=" logo"
    style="text-align:center;"
       <font-color=ffffff> KBS Productions are housed under the copyright of Keith Sechrist</font>
    </div>
  </div>

</footer> <!-- end footer -->


<!-- Js -->
<script src="js/modernizr.js"></script>


</body>
</html>
