<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Project Name
  </title>


  <!-- Styles -->
  <link rel="stylesheet" href="stylesheets/web.css">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,700|Lato:300,400,700,900" rel="stylesheet">

  <!-- Fontawesome Icon fotns -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/fa-brands.min.css">
  <link rel="stylesheet" href="css/fa-light.min.css">
  <link rel="stylesheet" href="css/fa-solid.min.css">


  <!-- jQuery-->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>



</head>
<body>

  <!-- Start Header -->
  <header>
    <div class="wrap">
      <div class="logo">
        <img src="./images/heroshot.png" alt="Logo" height="55px">
      </div>
      <div class="nav">
        <div class="nav-items">
          <div class="Home">
            <a href="index.html">Home</a>
          </div>
          <div class="about">
            <a href="about.html"> About</a>
          </div>
          <div class="contact">
            <a href="contact.html"> Contact</a>
          </div>
          <div class="Gallery">
            <a href="gallery.html">Gallery</a>
          </div>
          <div class="casestudy">
            <a href="casestudy.html">Case Study</a>
          </div>
        </div>
      </div>
    </div>

    <!-- <aside>
    <div class="aside">
    <div class="menu">
  </div>
</div>
</aside> -->
</header>
<main>
  <div class="midsection-wrap">
    <div class="container">
      <div class="gallerypage">
        <div class= "brewskiesimage">
            <img src="./images/Load Screen 4.png" style="max-width: 500px; width: 100%; height:300px;"align= "middle";>
            <a href="./images/Load Screen 4.png"></a>


        </div>
        <div class="breskiesdes">
          <h3> Brewskies Phone Application</h3>
          <p> Here is a phone application that allows for people to create social events
            at their local bars by looking at the deals and scheduling calendar events.
          </p>
        </div>
        <div class= "trifolddes">
          <h3> Technology and Education Trifold </h3>
          <p> Here is a trifold of the a project I did discussing the implications of technology on education.
          </p>
        </div>
        <div class="trifoldimage">
            <img src="./images/FinalTrifold.jpg" style="max-width: 500px; width: 100%;  height:300px;" align= "middle";>
            <a href="./images/Load Screen 4.png"></a>
          </div>



        <div class="infographicimage">

            <img src="./images/FinalInfographic.jpg" style="max-width: 500px; width: 100% height:300px;" align= "middle";>
            <a href="./images/FinalInfographic.jpg"> </a>
          </div>



      <div class= "infographicdes">
        <h3> Infographic of Technology and Children's Stress </h3>
        <p> This infographic is a collection of statistics that show how
          education funding expanding correlates with screentime and stress on
          students.
        </p>
        </div>
        <div class="bbjourneymapdes">
          <h3> BB Journey Map </h3>
          <p> For a content strategy course, we created a journey map of a cancer patient
            that wishes to participate in Bosom Buddies--a local breast cancer support group.
           </p>
          </div>
          <div class="bbjourneymapimage">

              <img src="./images/BB.jpg" style="max-width: 500px; width: 100%; height:300px;" align= "middle";>
            <a href="./images/BB.jpg" style="width:500px; height:450px;"></a>
              </div>
            </div>
          </div>
        </div>

  </main>
  <footer>
    <div class="footnote">
      <div class=" logo"
      style="text-align:center;"
      <font-color=ffffff> KBS Productions are housed under the copyright of Keith Sechrist</font>
    </div>
  </div>

</footer> <!-- end footer -->


<!-- Js -->
<script src="js/modernizr.js"></script>


</body>
</html>
