<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Keith B. Sechrist's Web Design</title>
    <link rel="stylesheet" href="css/foundation.css" />
	<link rel="stylesheet" href="css/twh-hack.css" />
   	<script src="js/vendor/jquery.min.js"></script>
	<script src="js/vendor/foundation.min.js"></script>
	<link rel="stylesheet" type="text/css" media="screen" href="http://cdnjs.cloudflare.com/ajax/libs/fancybox/1.3.4/jquery.fancybox-1.3.4.css" />
<style type="text/css">
    a.fancybox img {
        border: none;
        box-shadow: 0 1px 7px rgba(0,0,0,0.6);
        -o-transform: scale(1,1); -ms-transform: scale(1,1); -moz-transform: scale(1,1); -webkit-transform: scale(1,1); transform: scale(1,1); -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;
    } 
    a.fancybox:hover img {
        position: relative; z-index: 999; -o-transform: scale(1.03,1.03); -ms-transform: scale(1.03,1.03); -moz-transform: scale(1.03,1.03); -webkit-transform: scale(1.03,1.03); transform: scale(1.03,1.03);
    }
</style>
  </head>
  
<body class=parchment> </body>
<div class="row tharon">
<div class="large-12 columns">
	<!--this data-hide-for variable starts the java script for the menu bar at the top of the page and makes the hamburger 
menu appear-->
 <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>
	<!--this top-bar class starts the java script for the menu bar at the top of the page-->
<div class="top-bar" id="example-menu">
  <div class="top-bar-right">
    <ul class="dropdown vertical medium-horizontal menu" data-dropdown-menu>
      <li class="menu-text"><a href="index.html">Home </a></li>
	    <li class="menu-text"><a href="about.html"> About </a></li>
      <li class="has-submenu">
        <a href="#">Projects</a>
        <ul class="submenu menu vertical" data-submenu>
          <li><a href="cover.html">STC Cover </a></li>
          <li><a href="trifold.html">Tri-Fold Brochure </a></li>
          <li><a href="instruck.html">Instructional Module </a></li>	
          <li><a href="podcast.html">Podcast </a></li>
          <li><a href="video.html">Video </a></li>
        </ul>
      </li>
    <li><a href="./projects/sechristresume.pdf">Resume </a></li>
     <li class="has-submenu">
        <a href="#">Resources</a>
        <ul class="submenu menu vertical" data-submenu>
          <li><a href="http://www.w3schools.com/colors/colors_picker.asp">HTML Color Picker </a></li>
		  <li><a href="http://foundation.zurb.com/sites/docs/kitchen-sink.html">Foundation 6 Kitchen Sink </a></li>
		  <li><a href="https://del.icio.us/tharon">Delicious Links </a></li>
          <li><a href="https://www.clemson.edu/brand/guide/color.html">Clemson Colors </a></li>
        </ul>
      </li>	  
     </ul>
  </div>
</div>	
<!--this closes the top-bar div--> 
<h1 class=water><font color=#000000>
Keith B. Sechrist <img src="./img/tree.png"></h1></font>
<hr/>
</div>
</div>
      <div class="row tharon">
	    <div class="large-12 columns">

			<h3><strong>Digital Video</h3></strong>
		 <p>	<strong>Exigence:</strong> The purpose of this project was to develop a short digital video intended for a 
web delivery of a 
possible cognate area for other MAPC students. For my group project, we 
covered the cognate area of technical writing and technical communication. We were to interview people that were familiar with 
this topic and discuss 
different aspects of the career field and courses taught at Clemson University. Lastly, we 
were to go over the Bureau of Labor Statistics data to support our reasoning for seeking a cognate in this field. In this 
project, we used lights, 
cameras, microphones, green screens, Adobe 
Photoshop, Camtasia, Snagit, and Adobe Premiere to develop our final product that would be uploaded to YouTube when 
completed. 
 </p>
		 <p><strong>	Audience: </strong> The audience of this project was the class and other students seeking a higher degree
in the Clemson MAPC program to persuade		
them into the cognate area of technical writing. Furthermore, this 
video could be used to communicate with prospective students that are interested in the program to convince them of the 
benefits of seeking a 
master’s degree at Clemson University.
 </p>
		 <p><strong> Constraints:</strong> The constraints for this project required us to create a video that was roughly 
5-minutes long that 
provided enough information to our audience to convince them to be 
interested in this major. We were also restricted to use royalty-free music and photos to support our project. 
 </p>
           <div class=flex-video>
		 <iframe width="560" height="315" src="https://www.youtube.com/embed/nPRrhfqXYeM" frameborder="0" 
allowfullscreen></iframe>
		   
	  </div>

      <div class="row tharon">
        <hr>
        <div class="large-12 columns">		<ul class="tabs" data-tabs id="example-tabs">
  <li class="tabs-title is-active"><a href="#panel1" aria-selected="true"><font color=#ff0000><strong>Overview and 
Interviews</strong></font></a></li>
  <li class="tabs-title"><a href="#panel2"><font color=#ff0000><strong>Production</strong> </font></a></li>
  <li class="tabs-title"><a href="#panel3"><font color=#ff0000><strong>Critical Reflection</strong> </font> </a></li>
</ul>

<div class="tabs-content" data-tabs-content="example-tabs">
  <div class="tabs-panel is-active" id="panel1">
	 <div class="row tharon">
	    <div class="large-12 columns">

 <h3> About The Project</h3>
<p>  <font color=#ff0000> Overview: </font> My group consisted of Doris Xue Ding, Sarah Shahnovsky, and I, and we chose 
technical writing as our 
cognate area to do a video on. Doris and I are both interested in careers in technical writing, 
so we both thought it would be a good idea to learn more about this cognate area. Furthermore, I was already familiar with 
how fast the job market 
was growing towards technical writing, so I knew this 
would be a greatly persuasive point in our project.
</p> 
<p> <font color=#ff0000> Pre-Interview Questions: </font> Before we decided who to interview, we had to discuss and come up 
with a list of 
questions that we would like answered. When we were coming up with questions, we decided that the more 
questions we asked the better. In doing so, we would have more than enough content, and we could cut out the information we did not
 needed to later. The questions we asked 
were based on our 
brainstorm to come up with as many questions as possible: </br>
&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; 1. How are you involved with technical writing?</br>
&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; 2. In your opinion, what is a technical writer? </br>
&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; 3. Where do you think technical writing is going as the future depends 
more on technology? 
</br>
&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; 4. What digital experience do you think we need to cover in order to be 
prepared for this 
field? 
</br>
&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; 5. What courses could someone take for this to be their cognate area? 
</br>
&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; 6. What kind of technical writing do you expect your students to do in 
your courses? </br>
&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; 7. Are there any certifications or clubs that we should belong to? </br>
&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; 8. How should people prepare to get a job in this field? </br>
&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; 9. What is the work environment like? </br>
&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; 10. What makes this job appealing? </br>
&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;11. What is the job market like for the technical writing industry? </br>
&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;12. Is there anything that we missed or anything else you would like to 
say about technical 
writing?
</p>
<p>
&nbsp; &nbsp;&nbsp; &nbsp; With these questions set, we decided to interview two professors at Clemson University that are 
teaching technical 
writing this fall. We hoped that they could give us prime examples of their teaching style and 
could stress what and why their field is important to teach to everyone, not just graduate students. We also hoped that these professors could
 emphasize the need 
for technical writers 
and to support an interaction of disciplines. We emailed 
Professor Brian Adam Smith and Instructor William Pulley our questions and scheduled interviews. 
</p> 
<p> <font color=#ff0000>Interview with Brian Adam Smith: </font> We decided our first interview would be with one of our 
professors that is 
currently teaching technical writing and one that could help us with setting up the equipment in the 
Adobe Green Room. Professor Brian Adam Smith (BAS for short) is our professor for Workplace Communications, but we mainly 
wanted to interview him 
for his view on technical writing. Unlike my previous experience 
with technical writing, BAS likes to discuss the use of movies in the field of technical writing. His modern take on the field 
reflected the growing 
interest we saw in the field that showed technological 
advances being used to enhance how we give instructions and provide information to a large audience. Similar to the how-to videos we find on 
YouTube, instructional 
videos are a form of technical writing. We believed there was a 
negative stigma attached to technical writing of it being boring or being strictly text. Therefore, we wanted to show the 
other aspect of the 
technical writing field—the visual. It is quaint that we are doing a 
video project about the visual aspect of technical writing. 

			<div class="media-object-section">
</br>
&nbsp; &nbsp; When setting up the cameras, we went with the rule of thirds to make sure that BAS was not looking directly at 
the camera but beside 
the camera. He helped us adjust the lighting to make sure we were getting as 
little shadow as possible, and even wore a hat to help with his blond hair when it came to the green screen effects. 
Our interview left us with over 30 minutes of film, so we knew we would have to cut much of the video, but we got the answers we were 
looking for.

 His take on what a technical writer is and where he thinks technology is 
going as the field grows gave us clear insight into the use of film for scientific discovery and how this was a form of 
technical writing. We 
wanted to show that if a person wanted to pursue technical 
writing at Clemson, they would be met with all the technological advances that Clemson had to offer. Students would not be 
limited to working with only
written text. After learning more about the Adobe softwares, we discovered that technical writing is much more than just how 
to write information. 
There is a very large visual component to the writing, so we decided that his response about the visual aspect was perfect 
for our project. 
</div>
<div class="media-object-section">
<div class="thumbnail">
				<a href="./projects/basint1.jpg"><img class="fancybox" src= "./projects/basint1.jpg" height="1800" width="1800"> </a>	
				</div>
					</div>
					</p> 
<p> <font color=#ff0000> Interview with William Pulley: </font> Instructor Pulley is another technical writing instructor at 
Clemson University, and 
he was very helpful in our interview as well. When interviewing Mr. Pulley, we also had over 30 minutes of footage, but we would only end up using one minute of this footage because he answered the one question we needed to 
answer perfectly: What 
kind of technical writing do you expect your students to do in 
your courses?</p>


<p>&nbsp; &nbsp; &nbsp; &nbsp; When answering this question, he explained that technical writing was a discipline that could 
not be tied to just 
one field of 
expertise because every field needs technical writers. We thought this was a very 
powerful message to send to people interested in this cognate area. By stating that he has engineers, biologists, and other 
students in his 
classes, he showed that this is a very flexible cognate area to 
pursue. Furthermore, he discusses the different kinds of documents that students would learn to write in his program: 
instructional videos, 
information pamphlets, etc.  We decided to use this question from Pulley because his message shows that a 
person with a cognate of technical writing can choose the aspect of industry they wish to pursue because all fields of 
industry need a technical 
writer. This is a huge appeal to people because it gives people options at other cognate areas may not. For example, if you 
wanted to pursue a career
in health communications, you are pretty much limited to that field. If you want to be a technical writer, you could write 
documents for NASA or work
for IKEA making instruction manuals. We just wanted to show that the normal constraints were not there. 
</p>
 </div>
	</div>
		</div>
			</div>
<div class="tabs-content" data-tabs-content="example-tabs">
  <div class="tabs-panel" id="panel2">
		<div class="row tharon">
			<div class="large-12 columns">
  
    <p>          
<font color=#ff0000>Story Board:</font> After all of the information was taken down, we had to edit and create a story-board 
that would provide all 
the information we needed. We began with the basic question of how to define a technical 
writer. To come up with a definition, we decided to begin with the Society for Technical Communications—the largest technical 
writing society—to 
find a definition. Their definition was broad enough for our 
demands, so we created a page layout in Adobe Photoshop, and we used Adobe Premiere to make the list scroll in the video by 
altering the position 
of the panel over a period of time.</p>
<div class="media-object-section top">
		<div class="thumbnail">
				<a href="./projects/thestoryboard.jpg"><img class="fancybox" src= "./projects/thestoryboard.jpg" height="1800" width="1800"> 
</a>	
				</div>
		</div>
			<div class="media-object-section">
<p>&nbsp; &nbsp; &nbsp; &nbsp; We wanted to back the Society for Technical Communications (STC) definition with the definition 
of BAS to show how the 
definition applied to classes 
about technical writing at Clemson University. His definition 
was broad, but it showed how the world relies on technical writing for figuring out how to do processes and create documents. 
We followed this up 
with Pulley, who had a slightly different understanding of 
technical writing, but it was valuable because it showed various forms of technical writing that BAS did not discuss.</p>

<p>
&nbsp; &nbsp; &nbsp; &nbsp; The last interview question we used was the use of video to create technical writing documents 
from BAS. He had 
prepared an example 
from history of the first use of film to figure out if a horse’s feet ever 
left the ground at the same time, and this provided us with a powerful understanding of how video production can be used in 
technical writing. 
We felt that this was very powerful aspect of technical writing that we have been using in our classes, so we made sure to have
this part stand out by transitioning
 the background to an animated .gif of the scene he was depicting. </p>
<p>
&nbsp; &nbsp; &nbsp; &nbsp; We decided to end the video with one of our strongest points, the Bureau of Labor Statistics 
information that showed 
that technical 
writing is a growing industry and that the financial stability in this field is 
greater than many of the other fields of writing that you find. 
</p>
</div>
<p>
&nbsp; &nbsp; &nbsp; &nbsp; We used the positive questions about the job to ask the audience, “Now don’t you want to be a 
technical writer?” We 
meant it to be 
rhetorical, but it is also a reminder that this video is meant as a persuasion 
piece to join Clemson University and to pursue technical writing as a cognate area. </p>

<p>
<font color=#ff0000>Transition Panels: </font> Figuring out the transitions was difficult because we were not sure how we 
wanted to transition 
between the questions. We decided a silent zoom-in on the questions laid out in a checkerboard 
pattern would help the audience mentally transition between questions by giving a breaking period and visually transporting 
them into different 
parts of the interviews. Doris created the design for the 
questions. 

</p>
<p><font color=#ff0000>Introduction:</font>  The introduction panel that states “technical writing” was created by Doris in 
Camtasia, and sound 
effects were added to create the clip. 
After this quick introduction, we transitioned to the STC definition of technical communications to support our claims about 
what they do. 
</p>
<font color=#ff0000>Background: </font> Adding the background to the green screen required us to use Adobe Premiere to 
accomplish. In Premiere, we used the Ultra Key to crop around the image we wanted to portray, and made the background black for when we had 
an image to place in the background. I created the 
background in Photoshop from a group of technical writing samples from BAS class on 
technical writing. Each picture was a screenshot from various students taking technical writing at the time, and it 
emphasizes the fact that 
technical writing expands across different fields. In the one photo, 
we have images of engineers using CAD, information planners, biologists, and electrical engineers writing out math equations 
in a video form to 
instruct people on how to complete a technical task. All of the photos were taken using the Snagit free-trial by the same people
that make Camtasia. I designed 
the image and we felt that this image encapsulated our ideas and goals for technical writing.
</br>
&nbsp; &nbsp; &nbsp; &nbsp; The transition to the .gif correlates with BAS discussing Edward Muybridge creating the first 
film to discover how 
 horses feet left the ground as they ran. The clip is only two-seconds, so 
we had to copy and paste the .gif after we had positioned it on the screen correctly. After our class presentation, we were 
informed that this .gif 
played for too long, so we created a transition back to the 
original background to conclude our project.
</p>
<div class="media-object-section middle">
		<div class="thumbnail">
				<a href="./projects/prem1.jpg"><img class="fancybox" src= "./projects/prem1.jpg" height="2000" width="2000"> </a>	
				</div>
		</div>
			<div class="media-object-section">
<p><font color=#ff0000> Editing the Video: </font>My biggest contribution to the project was editing the video. In this project, 
 I was in charge 
of compiling the footage, images, and backgrounds, and it was my job to position all of this 
on the video. 

<p> &nbsp; &nbsp; &nbsp; &nbsp;I learned how to make the panels move by changing the position of the image, so it scrolled as 
a person eyes 
followed along the 
writing, and how to zoom in on the transition panels with the 
questions to guide the audience beyond just a static page. Much of my work was in resizing the still images to be in-line 
with the video we were 
using and developing the backgrounds to fit the video screen that 
was already set. We decided as a group that a static page was too boring for an introduction, so all of our text moves to 
create a more visual 
experience that makes the viewer continuously follow along with the 
information.</p>

</div> 

</br>
<p>&nbsp; &nbsp; &nbsp; &nbsp;When shortening the videos to reduce the “ummms” and “ahhhs” we found that we had to add 
transitions—usually a fade to 
film—because 
the positions of the people talking would change. In my mind, I imagined that 
people would remain static while they spoke, but people move their hands, their heads, and change facial expressions as they 
talk, so it was 
impossible to cut between answers without transitions. In the end, we 
decided to leave some of the “ummms” and “ahhhs” to give our video a natural flow without too many interruptions.</p>

<p>
&nbsp; &nbsp; &nbsp; &nbsp; Throughout the video, I added transitions, typically a fade to film effect, to transition between 
the question panels 
to the 
interview responses to show a subtle transition to someone answering the question. 

To transition back to the question panels, we used a barndoor effect because it was strong in communicating a cut. I ended 
the video with a fade to 
black cut.

For the audio, we had to raise the audio for BAS because it was too soft, and I had to do a small audio gain and fade when 
exiting the interview recordings 
because the white noise at the end was obvious against the 
background music. The background music had transitions at the beginning where it was louder, into the video where it was a 
low background noise. 
We decided to transition our background music when we reached the final part of our interviews where BAS discusses the 
invention of film in a 
technical 
writing aspect because we wanted to show a change of pace in the 
presentation. His interview reflected an in-depth analysis of the use of technical writing in one aspect, so we wanted it to 
stand out from the 
rest of the film. Towards the end, we had to repeat the song, but 
the fade-in made the audio sound perfect. 
</br></p>
 </div>
	</div>
		</div>
			</div>
<div class="tabs-content" data-tabs-content="example-tabs">
  <div class="tabs-panel" id="panel3">
  <div class="row tharon">
			<div class="large-12 columns">
   <h3>Critical Reflection</h3>
 <p> &nbsp; &nbsp; &nbsp; &nbsp; The digital video was not my first time using Adobe Premiere, but it was my first time 
interviewing people and 
producing video that I edited. My previous times on Premiere were using basic panels with transitions and adding audio to 
these transitions. 
Our first failure was when we communicated with the professors about 
doing interviews. We failed to mention that the videos were to be under 10 minutes, so when we interviewed, many of the 
answers could not be used 
because they were simply too long. When it came to editing, we began with 30 to 40 minutes of recording from each professor. 
In total we used roughly
4 minutes and 30 seconds of the video in our final project. This meant making tons of edits and clipping the audio in the 
right spots and keeping 
track of where we would need transitions.This was a struggle to correlate the film with our storyboard based on the questions 
we asked, but we were 
able to develop a story line that only required us to make two 
text-heavy panels of information that we split up--one at the introduction and one at the end. This was done to create a 
balance throughout our 
video, and it was
a mental cue for the audience that things were coming to an end.  
We also added movement to these pictures 
to make the reader follow along actively, rather than blankly stare at text. 
 </p>
 <p>&nbsp; &nbsp; &nbsp; &nbsp; Through this project, we learned how to use Adobe Premiere and how to create a 
user-experience in video. In 
Photoshop, we created the backgrounds, the question board, and the textual panels, but in Premiere we 
made these still images come to life to direct the viewers through the video. This took a lot of practice with scaling and 
positioning effects in 
Premiere, but we were able to scale and position all the 
pertinent information to the center of the screen with slow enough movement to allow the viewer to read all the text of the 
document. To test the 
ability to read the information, we would edit the scaling and 
positioning then play it to make sure we could read the information in enough time. To aid the reader in following the text,
 we added audio of Sarah summarizing the text, so if the viewer decided not to read, they would still get the gist.
 I wish Star Wars would do something similar with their text.
</p>
<p> &nbsp; &nbsp; &nbsp; &nbsp; This project was a compilation of all my previous projects into one 
video. Using Camtasia and Photoshop, we were able to create visuals that would supplement the information 
that we would not get on film and we used them to provide transitions. Using what I learned in Audition, I was able to fade 
the audio in and out,
and I knew how to change the audio, so I could layer background music into the interviews.
 I would have liked to have more time to work on this project, but we were 
under time constraints. However, I understand that we would not have been able to complete this project without having gained 
experience through 
the other projects.I believe that working as a team on this 
project made us better because we each came into the project knowing different things, and I believed I learned more from 
this project than all of 
the others.

     
</p>
  </div>
	</div>
		</div>
			</div>
   </div>
      </div>


       

       <div class="large-12 columns">
          <hr>
		  <font color=#000000>
          <h3>Contact Me</h3>
           <div class="large-3 columns">
          <a href="mailto:ksechri@g.clemson.edu"><img src= "./img/gmail.png"height="75" width="75"></a>
          </div>
          <div class="large-3 columns">
          <a href="https://twitter.com/KeithBSechrist"> <img src= "./img/twitter.png"height="75" width="75"></a>
          </div>
          <div class="large-3 columns">
            <a href="https://www.facebook.com/keith.sechrist"> <img src= "./img/facebook.png"height="75" width="75"></a>
          </div>
		    <div class="large-3 columns"> 
				<a href=https://www.linkedin.com/in/keith-sechrist-95013436> <img src= "./img/linkedin.png"height="75" 
width="75">  </a>
			</div>
        </div>
      </div>
 </div>
</div> 
        
      <footer class="row tharon">
          <div class="large-12 columns">
            <hr/>
             <p style="text-align:center;"> <font color=#566127> <strong>© Copyright Keith B. Sechrist </font> </strong> </p>
          </div>
		  <div id="back-top">
  <a href="#"> <img src= "./img/backtotopbutton.jpg"height="125" width="125"> </a>
</div>
 <script>
$(document).ready(function(){

  // hide #back-top first
  $("#back-top").hide();

  // fade in #back-top
  $(function () {
    $(window).scroll(function () {
      if ($(this).scrollTop() > 100) {
        $('#back-top').fadeIn();
      } else {
        $('#back-top').fadeOut();
      }
    });

    // scroll body to 0px on click
    $('#back-top .fi-arrow-up').click(function () {
      $('body,html').animate({
        scrollTop: 0
      }, 800);
      return false;
    });
  });

});
</script>
      </footer>
<!--Note that the next 5 lines are essential for the nav bar and other java scripts to function properly-->	  
 	<script src="js/vendor/what-input.min.js"></script>
    <script>
      $(document).foundation();
    </script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/fancybox/1.3.4/jquery.fancybox-1.3.4.pack.min.js"></script>
<script type="text/javascript">
    $(function($){
        var addToAll = false;
        var gallery = true;
        var titlePosition = 'inside';
        $(addToAll ? 'img' : 'img.fancybox').each(function(){
            var $this = $(this);
            var title = $this.attr('title');
            var src = $this.attr('data-big') || $this.attr('src');
            var a = $('<a href="#" class="fancybox"></a>').attr('href', src).attr('title', title);
            $this.wrap(a);
        });
        if (gallery)
            $('a.fancybox').attr('rel', 'fancyboxgallery');
        $('a.fancybox').fancybox({
            titlePosition: titlePosition
        });
    });
    $.noConflict();
</script>
  </body>
</html>
